[Desktop Entry]
Encoding=UTF-8
Name=XSN
Comment=XSN P2P Cryptocurrency
Comment[fr]=XSN, monnaie virtuelle cryptographique pair à pair
Comment[tr]=XSN, eşten eşe kriptografik sanal para birimi
Exec=xsn-qt %u
Terminal=false
Type=Application
Icon=xsn128
MimeType=x-scheme-handler/xsn;
Categories=Office;Finance;
