policy_module(xsn, 1.100.1)

########################################
#
# Declarations
#

type xsn_t;
type xsn_exec_t;
init_daemon_domain(xsn_t, xsn_exec_t)

permissive xsn_t;

type xsn_initrc_exec_t;
init_script_file(xsn_initrc_exec_t)

type xsn_conf_t;
files_type(xsn_conf_t)

type xsn_var_lib_t;
files_type(xsn_var_lib_t)

type xsn_var_run_t;
files_type(xsn_var_run_t)

type xsn_port_t;
corenet_port(xsn_port_t)

########################################
#
# xsn local policy
#
allow xsn_t self:process { fork };

allow xsn_t self:fifo_file rw_fifo_file_perms;
allow xsn_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(xsn_t, xsn_conf_t, xsn_conf_t)
manage_files_pattern(xsn_t, xsn_conf_t, xsn_conf_t)

manage_dirs_pattern(xsn_t, xsn_var_lib_t, xsn_var_lib_t)
manage_files_pattern(xsn_t, xsn_var_lib_t, xsn_var_lib_t)
files_var_lib_filetrans(xsn_t, xsn_var_lib_t, { dir file })

manage_dirs_pattern(xsn_t, xsn_var_run_t, xsn_var_run_t)
manage_files_pattern(xsn_t, xsn_var_run_t, xsn_var_run_t)

sysnet_dns_name_resolve(xsn_t)
corenet_all_recvfrom_unlabeled(xsn_t)

allow xsn_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(xsn_t)
corenet_tcp_sendrecv_generic_node(xsn_t)
corenet_tcp_sendrecv_all_ports(xsn_t)
corenet_tcp_bind_generic_node(xsn_t)

gen_require(`
    type xsn_port_t;
')
allow xsn_t xsn_port_t:tcp_socket name_bind;

gen_require(`
    type xsn_port_t;
')
allow xsn_t xsn_port_t:tcp_socket name_connect;

domain_use_interactive_fds(xsn_t)

files_read_etc_files(xsn_t)

miscfiles_read_localization(xsn_t)

sysnet_dns_name_resolve(xsn_t)

allow xsn_t xsn_exec_t:file execute_no_trans;
allow xsn_t self:process setsched;
corecmd_exec_ls(xsn_t)
corenet_tcp_connect_http_port(xsn_t)
dev_read_urand(xsn_t)
fs_getattr_xattr_fs(xsn_t)
kernel_read_system_state(xsn_t)
