
## <summary>policy for xsn</summary>


########################################
## <summary>
##	Transition to xsn.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`xsn_domtrans',`
	gen_require(`
		type xsn_t, xsn_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, xsn_exec_t, xsn_t)
')


########################################
## <summary>
##	Execute xsn server in the xsn domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`xsn_initrc_domtrans',`
	gen_require(`
		type xsn_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, xsn_initrc_exec_t)
')


########################################
## <summary>
##	Search xsn lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`xsn_search_lib',`
	gen_require(`
		type xsn_var_lib_t;
	')

	allow $1 xsn_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read xsn lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`xsn_read_lib_files',`
	gen_require(`
		type xsn_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, xsn_var_lib_t, xsn_var_lib_t)
')

########################################
## <summary>
##	Manage xsn lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`xsn_manage_lib_files',`
	gen_require(`
		type xsn_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, xsn_var_lib_t, xsn_var_lib_t)
')

########################################
## <summary>
##	Manage xsn lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`xsn_manage_lib_dirs',`
	gen_require(`
		type xsn_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, xsn_var_lib_t, xsn_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a xsn environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`xsn_admin',`
	gen_require(`
		type xsn_t;
		type xsn_initrc_exec_t;
		type xsn_var_lib_t;
	')

	allow $1 xsn_t:process { ptrace signal_perms };
	ps_process_pattern($1, xsn_t)

	xsn_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 xsn_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, xsn_var_lib_t)

')

